.MMM-Cocktails .header {
text-align: center;
font-size: 15px;
color: white;
}
.MMM-Cocktails .content {
width: 100%;
background-position: 11px 0;
background-repeat: no-repeat;
color: #a9a356;
}
.MMM-Cocktails .imgDes {
width: 10%;   /* width of image */
height: 10%;  /* height of image */
margin-left: 10px;
margin-right: 10px;
overflow: hidden;
float: left;
}
.MMM-Cocktails .imgDes p {
font-size: 12px;
text-align: left;
padding-bottom: 15px;
}
h3:first-letter {
text-transform: capitalize;
}
.MMM-Cocktails h3.small {
  color: #99F;          /* color for Title text */
  font-size: 25px;      /* size for Title text */
}
.MMM-Cocktails p.xsmall.bright {
  color: white;          /* color for main body text */
  font-size: 12px;      /* size for main body text */
}
